/* Error: expected ")".
 *     ,
 * 357 | @media screen and (min-width: 768px) and (max: width 1200px;) {
 *     |                                                            ^
 *     '
 *   sass/main.scss 357:60  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 357 \2502  @media screen and (min-width: 768px) and (max: width 1200px;) {\a     \2502                                                             ^\a     \2575 \a   sass/main.scss 357:60  root stylesheet';
}
