@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0px;
    font-family: Roboto;
  }

  #head {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;

    .logo {
      height: 50px;
    }
  }

  #positionbar {
    height: 60px;
    margin-top: 5px;
    background: linear-gradient($pink, $purple);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;

    .position {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(#ff79da, #9356dc);
      padding: 15px;
    }
    .iconposition {
      font-size: 19px;
      padding-right: 10px;
    }

    .search {
      font-size: 20px;
    }
  }

  #home {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hometext1 {
      margin-bottom: 0px;
    }

    .explorebtn {
      font-size: larger;
      color: white;
      border-radius: 30px;
      padding: 10px;
      background: linear-gradient($pink, $purple);
      margin-bottom: 40px;
      &:hover {
        opacity: 0.7;
        box-shadow: 13px 10px 16px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .flextab {
    display: flex;
    justify-content: space-between;
  }

  .fct {
    display: flex;
    flex-direction: column;
    .fcttitre {
      border-bottom: 5px dotted $green;
      width: 180px;

      margin-left: 21px;
    }
    .aligncard {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }

    .fctcard {
      height: 150px;
      width: 92%;
      cursor: pointer;
      padding: 2%;
      border-radius: 25px;
      box-shadow: 5px 5px 5px 0 gray;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 50px;
      background: white;
      padding: 0%;
      &:hover {
        transform: rotate(-10deg);
        font-weight: bold;
        background-color: $lightpurple;
      }
    }
    .fctflex {
      display: flex;
      align-items: center;
    }

    .fctnumb {
      color: black;
      height: 150px;
      width: 135px;
      background: $lightpurple;
      font-size: 20px;
      border-radius: 15px 0 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fcticon {
      font-size: 25px;
      margin: 5px;
    }

    .fcttext {
      margin: 5px;
    }
  }

  .blocrest {
    justify-content: right;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background: white;
    padding: 0px;
    display: flex;
    width: 50%;
  }

  .liencardrest {
    color: black;
    text-decoration: none;
  }
  .borderrest {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
    padding-right: 0px;
  }
  .flexdetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .resttitre {
    border-bottom: 5px dotted #99e2d0;
    width: 127px;
    padding-right: 10px;
    margin-left: 15px;
    padding-left: 3px;
  }
  .restcolumn {
    padding-right: 20px;
    padding-left: 15px;
  }

  .new {
    background: $green;
    height: 45px;
    width: 120px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #37a88c;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
  }

  .flexnew {
    display: flex;
    justify-content: right;
    position: relative;
  }

  #restimg1 {
    border-radius: 15px 15px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
  #restimg2 {
    border-radius: 15px 15px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
  #restimg3 {
    border-radius: 15px 15px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
  #restimg4 {
    border-radius: 15px 15px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
  }

  .detailrest {
    height: 30%;
    margin-bottom: 5px;
  }
  .nomrest {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .positionrest {
    font-size: large;
    margin-top: 0px;
    padding-left: 10px;
  }

  .positionheart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heartsize {
    font-size: xx-large;
    padding-right: 15px;
  }
  .heartabsolute {
    position: absolute;
    background-color: white;
    transition: opacity 1000ms ease-in-out;
    &:hover {
      opacity: 0;
      cursor: pointer;
    }
  }

  .heartopacity {
    background: linear-gradient($green, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blocfooter {
    background: linear-gradient($pink, $purple);
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footertitre {
    font-family: shrikhand, cursive;
    font-weight: initial;
    color: white;
    font-size: large;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .pfooterfork {
    font-size: medium;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .forkicon {
    font-size: 11px;
  }

  .pfooterhandshake {
    font-size: medium;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .handshakeicon {
    font-size: 11px;
  }

  .pfooter3 {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 2px;
    line-height: 18px;
  }

  .pfooter4 {
    font-size: medium;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
