/* MENUS */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #head {
    padding-top: 0px;

    .arrow {
      position: absolute;
      left: 40px;
      top: 33px;
      color: black;
      font-size: 30px;
    }
  }

  #frenchimg {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  #enchantimg {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  #deliceimg {
    height: 230px;
    width: 100%;
    object-fit: cover;
  }

  #paletteimg {
    height: 330px;
    width: 100%;
    object-fit: cover;
  }

  .grosbloc {
    background: whitesmoke;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin-top: -20px;
    position: relative;

    .flexheart {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .positionheart {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .heartsize {
      padding-right: 15px;
      padding-top: 30px;
      font-size: 30px;
    }

    .heartabsolute {
      position: absolute;
      background-color: $lightgrey;
      transition: opacity 1000ms ease-in-out;
      &:hover {
        opacity: 0;
        cursor: pointer;
      }
    }

    .heartopacity {
      background: #8accbc;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .titreblocmenu1 {
      font-family: shrikhand, cursive;
      font-weight: unset;
      font-size: 30px;
      margin-bottom: 0px;
    }

    .iconheartmenu {
      font-size: 25px;
      margin-top: 20px;
    }

    .categorie {
      font-size: 20px;
      font-weight: normal;
      border-bottom: solid 3px #99e2d0;
      width: 40px;
      line-height: 2;
    }

    .cardmenuentree {
      background-color: white;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      animation: appear1 500ms 1000ms linear both;
      cursor: pointer;
      &:hover .menuselect {
        opacity: 100%;
        width: 10rem;
      }
      &:hover .menuselect i {
        transform: rotate(359deg);
        transition: transform 700ms;
      }
    }

    .cardmenuplat {
      background-color: white;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      animation: appear2 1000ms 1500ms linear both;
      cursor: pointer;

      &:hover .menuselect {
        opacity: 100%;
        width: 10rem;
      }
      &:hover .menuselect i {
        transform: rotate(359deg);
        transition: transform 700ms;
      }
    }

    .cardmenudessert {
      background-color: white;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      animation: appear3 1500ms 2000ms linear both;
      cursor: pointer;

      &:hover .menuselect {
        opacity: 100%;
        width: 10rem;
      }
      &:hover .menuselect i {
        transform: rotate(359deg);
        transition: transform 700ms;
      }
    }

    @keyframes rotatecircle {
      0% {
        transform: (0deg);
      }
      100% {
        transform: (360deg);
      }
    }
    @keyframes appear1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes appear2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes appear3 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .menuselect {
      background: linear-gradient($pink, $purple);
      cursor: pointer;
      height: auto;
      width: 0;
      opacity: 0;
      border-radius: 0 15px 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.4s ease-in-out, width 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
    }

    .menuselect i {
      color: white;
      font-size: 2rem;
    }

    .titreplat {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      padding-top: 10px;
      padding-left: 10px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .flexdetail {
      display: flex;
      justify-content: space-between;
      align-items: unset;
      flex-direction: column;
      width: 70%;
      overflow: hidden;
    }
    .flexprixselect {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
    .detailplat {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: normal;
      margin-top: 5px;
      margin-bottom: 0px;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .prix {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      margin-bottom: 0px;
      margin-top: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }

    .cmdbtn {
      color: white;
      border-radius: 30px;
      background: linear-gradient($pink, $purple);
      width: min-content;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin: 40px auto;
      &:hover {
        opacity: 0.7;
        box-shadow: 13px 10px 16px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        transform: rotate(10deg);
      }
    }
  }
  /*FOOTER*/

  .blocfooter {
    background-color: black;
    padding-right: 20px;
    display: flex;
    height: 70px;

    .footertitre {
      font-family: shrikhand, cursive;
      font-weight: initial;
      color: white;
      font-size: larger;
      text-align: left;
      margin-top: 0px;
    }

    .forkicon {
      font-size: 14px;
    }

    .handshakeicon {
      font-size: 14px;
    }
    .pfooterhandshake {
      color: white;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
      height: 15px;
      cursor: pointer;
    }
    .handshakeicon {
      font-size: 14px;
    }
    .pfooterfork {
      color: white;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 5px;
      height: 24px;
      cursor: pointer;
    }

    .forkicon {
      font-size: 14px;
    }

    .pfooter3 {
      color: white;
      display: flex;
      align-items: center;
      justify-content: left;
      font-size: 15px;
      line-height: 4px;
      cursor: pointer;
    }

    .pfooter4 {
      color: white;
      display: flex;
      align-items: center;
      justify-content: left;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
