$lightgrey: #f6f6f6;
$mediumgrey: #eaeaea;
$purple: #9356dc;
$lightpurple: #f5edff;
$pink: #ff79da;
$blackfooter: #353535;

@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    font-family: Roboto;
  }
  .loader {
    height: 200px;
    width: 200px;
    border: 3px dotted $pink;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    position: fixed;
    animation: rotation 2s linear infinite;
    transition: opacity 0.5s ease-in-out;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animloader {
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    animation: disapear 1s forwards;
    animation-delay: 2s;
  }

  @keyframes disapear {
    0% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
      visibility: hidden;
    }
  }
}
#head {
  display: flex;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 8px 4px 0px rgba(219, 219, 219, 1);
  padding-top: 10px;

  .logo {
    height: 30px;
  }
}

#positionbar {
  background-color: #eaeaea;
  height: 50px;
  margin-top: 5px;

  .position {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconposition {
    padding-right: 5px;
  }
}

#home {
  background-color: $lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .hometext1 {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .hometext2 {
    font-size: large;
    font-weight: lighter;
  }

  .explorebtn {
    color: white;
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient($pink, $purple);
    margin-bottom: 40px;
    &:hover {
      opacity: 0.7;
      box-shadow: 13px 10px 16px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

.fcttitre {
  padding-left: 15px;
}

.fctcard {
  padding: 2%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0 gray;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #f6f6f6;

  &:hover {
    cursor: pointer;
    background: $lightpurple;
  }

  .fctflex {
    display: flex;
    align-items: center;
  }

  .fctnumb {
    border-radius: 15px;
    background: $purple;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: -15px;
  }

  .fcticon {
    padding-left: 20px;
    padding-right: 25px;
  }

  .iconlist {
    font-size: larger;
    color: dimgray;
  }

  .iconshop {
    font-size: larger;
    color: dimgray;
  }

  .iconmobile {
    font-size: larger;
    color: dimgray;
  }

  .fcttext {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blocrest {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;

  .liencardrest {
    color: black;
    text-decoration: none;
  }

  .new {
    background: #99e2d0;
    height: 35px;
    width: 90px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #37a88c;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .flexnew {
    display: flex;
    justify-content: right;
    position: relative;
  }

  .borderrest {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
  }

  .flexdetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .positionheart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heartsize {
    padding-right: 15px;
    font-size: x-large;
  }

  .heartabsolute {
    position: absolute;
  }

  .heartopacity {
    opacity: 0;
    &:hover {
      opacity: 0.9;
      color: $pink;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .nomrest {
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  .positionrest {
    margin-top: 0px;
    padding-left: 10px;
  }

  #restimg1 {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  #restimg2 {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  #restimg3 {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  #restimg4 {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
}

.blocfooter {
  background: $blackfooter;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;

  .footertitre {
    font-family: shrikhand, cursive;
    font-weight: initial;
    color: white;
    font-size: smaller;
  }

  .forkicon {
    font-size: 14px;
  }

  .handshakeicon {
    font-size: 14px;
  }
  .pfooterhandshake {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    height: 15px;
  }
  .handshakeicon {
    font-size: 14px;
  }
  .pfooterfork {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    height: 24px;
  }

  .forkicon {
    font-size: 14px;
  }

  .pfooter3 {
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 4px;
  }

  .pfooter4 {
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
  }
}

/* MENU 1 */
@media screen and (max-width: 767px) {
  #head {
    padding-top: 20px;

    .arrow {
      height: 15px;
      width: 15px;
      position: absolute;
      left: 15px;
      top: 25px;
      color: blacks;
    }
  }

  #frenchimg {
    height: 200px;
    width: 100%;
  }

  #enchantimg {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .grosbloc {
    background: whitesmoke;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin-top: -20px;
    position: relative;

    .flexheart {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .titreblocmenu1 {
      font-family: shrikhand, cursive;
      font-weight: unset;
      font-size: 30px;
      margin-bottom: 0px;
    }

    .iconheartmenu {
      font-size: 25px;
      margin-top: 20px;
    }

    .entrées {
      font-size: 20px;
      font-weight: normal;
      border-bottom: solid 3px #99e2d0;
      width: 40px;
      line-height: 2;
    }

    .cardmenu {
      background-color: white;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
    .menuselect {
      background: #99e2d0;
      cursor: pointer;
      height: auto;
      width: 0;
      opacity: 0;
      border-radius: 0 15px 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.4s ease-in-out, width 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
      color: white;
      font-size: larger;
      &:hover {
        opacity: 100%;
        width: 5rem;
      }
    }
    .titreplat {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      padding-top: 10px;
      padding-left: 10px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .flexdetail {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex: 1;
    }

    .detailplat {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: normal;
      margin-top: 5px;
      margin-bottom: 0px;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .prix {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      margin-bottom: 0px;
      margin-top: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }

    .cmdbtn {
      color: white;
      border-radius: 30px;
      background: linear-gradient($pink, $purple);
      width: min-content;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin: 40px auto;
      &:hover {
        opacity: 0.7;
        box-shadow: 13px 10px 16px 0px rgba(0, 0, 0, 0.75);
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      #head {
        display: flex;
        justify-content: center;
      }

      .logo {
        height: 50px;
      }

      #positionbar {
        height: 50px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
      }

      .position {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#ff79da, #9356dc);
        padding: 15px;
      }

      #home {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .hometext1 {
        margin-bottom: 0px;
      }

      .hometext2 {
        font-size: large;
      }

      .explorebtn {
        border-bottom: 1px solid;
        color: #9356dc;
        font-size: x-large;
      }

      .fcttitre {
        padding-left: 10px;
      }

      .aligncard {
        display: flex;
        justify-content: space-around;
      }

      .fctflex {
        display: flex;
        align-items: center;
      }

      .fctnumb {
        border-radius: 15px;
        background-color: #9356dc;
        color: white;
        height: 20px;
        width: 20px;
        margin: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .fcticon {
        margin: 5px;
        font-size: 17px;
      }

      .fcttext {
        margin: 5px;
      }

      .resttitre {
        padding-left: 15px;
      }

      .blocrest {
        display: flex;
        justify-content: space-evenly;
      }

      .restcolumn {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .borderrest {
        border-radius: 15px;
        background-color: #f6f6f6;
        margin: 20px;
        height: 300px;
        width: 300px;
      }

      #restimg1 {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
      }

      #restimg2 {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
      }

      #restimg3 {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
      }

      #restimg4 {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
      }

      .detailrest {
        height: 30%;
        margin-bottom: 5px;
      }

      .positionheart {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .heartsize {
        font-size: x-large;
        padding-right: 15px;
        padding-top: 15px;
      }

      .nomrest {
        font-size: medium;
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 10px;
      }

      .positionrest {
        font-size: medium;
        margin-top: 0px;
        padding-left: 10px;
      }

      .blocfooter {
        background: #353535;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .footertitre {
        font-family: shrikhand, cursive;
        font-weight: initial;
        color: white;
        font-size: large;
      }

      .forkicon {
        height: 10px;
      }

      .handshakeicon {
        height: 10px;
      }
      .pfooterhandshake {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .handshakeicon {
        font-size: 11px;
      }
      .pfooterfork {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .forkicon {
        font-size: 11px;
      }

      .pfooter3 {
        color: white;
        display: flex;
        align-items: center;
      }

      .pfooter4 {
        color: white;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}
