.grosbloc .cardmenuentree:hover .menuselect i {
  transform: rotate(359deg);
  transition: transform 700ms;
}

.grosbloc .cardmenuplat:hover .menuselect i {
  transform: rotate(359deg);
  transition: transform 700ms;
}

.grosbloc .cardmenudessert:hover .menuselect i {
  transform: rotate(359deg);
  transition: transform 700ms;
}
